/* Init*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  width: 100%;
  overflow-x: hidden;
  background: #080809;
  color: white;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000005e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.637);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section {
  width: 100%;
  height: 100vh;
}


/* ----- HOMEPAGE SECTION ----- */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  letter-spacing: 0.05em;
  flex-direction: row;
}

hgroup h1 {
  font-size: 5vmax;
  color: #fff;
  text-align: center;
}

/* Scroll Btn */
/* Code inspired from https://codepen.io/xonic/pen/KWMaqe */
.scrollBtn-container {
  position: absolute;
  left: 50%;
  bottom: 1em;
}

.classBtn {
  position: relative;
  width: 100%;
  height: 100%;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move-down 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-down 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-down 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

/* ----- INTRO SECTION ----- */

.intro {
  position: relative;
}

figure img {
  display: block;
}

.intro .people {
  position: absolute;
  padding: 0 1em;
  width: 100%;
  bottom: 0;
  opacity: 0;
  /* filter:sepia(100%) saturate(300%) brightness(30%) hue-rotate(195deg); */
}

.intro .people.is-visible {
  opacity: 0.3;
  animation: fadeBg 0.5s linear;
}

.intro .portrait {
  position: absolute;
  max-width: 250px;
  width: 100%;
  bottom: 0;
  left: 45%;
  z-index: 30;
 
  transform: translateY(10%);
  opacity: 0;
}

.pop-up.is-visible {
  animation: pop-up2 2s 0.25s forwards;
}

/* Character Pop-up */
@keyframes pop-up2{
  from {
    opacity: 0;
    transform: translateY(10%);
    left: 45%;
  }
  to {
    opacity: 1;
   transform: translateY(0%);
    left: 45%;
  }
}


/* Speech bubble */
.bubbleTxt {
  position: absolute;
  left: 35%;
  top: 15%;
}

.bubbleTxt {
  height: auto;
  max-width: 200px;
  position: relative;

  background: #fbfef9;
  color: #080809;
  font-size: 20px;
  line-height: 30px;

  filter: drop-shadow(-7px 3px 0px #131335);
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  opacity: 0;
  transform-origin: bottom center;
  transition: .5 all;

}

.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #fbfef9 transparent transparent;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
}


/* Speech bubble */
/* Speech bubble */
.bubbleTxt2 {
  position: absolute;
  left: 60%;
  top: 10%;
}


.bubbleTxt2 {
  height: auto;
  max-width: 200px;
  position: relative;

  background: #fbfef9;
  color: #080809;
  font-size: 20px;
  line-height: 30px;

  filter: drop-shadow(-7px 3px 0px #131335);
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  opacity: 0;
  transform-origin: bottom center;
  transition: .5 all;
}

.bubbleTxt2 .bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #fbfef9 transparent transparent transparent;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
}


/* ----- ANXIETY SECTION----- */

.anxiety {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anxiety side {
  padding-left: 2em;
}

.anxiety h1 {
  font-size: 3em;
  margin-bottom: 0.25em;
}

.anxiety p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #6d6d6d;
}

.text-left {
  opacity: 0;
	transform: translateX(-10em);
	transition: all 2s .5s ease-out;
	will-change: all;
}

.text-left.is-visible {
	opacity: 1;
	transform: translateX(0);
}


.anxiety figure {
  align-self: flex-end;
  width: 70vw;
  opacity: 0;
}


.anxiety .watched.is-visible {
  animation: fade 2s forwards;
}

.anxiety .eyeball {
  opacity: 1;
  /* animation: pulse 5s 2s linear alternate infinite; */
}

.anxiety .eyeball:hover {
  opacity: 0;
  cursor: pointer;
}

/*  ----- OVERTHINKING SECTION ----- */

.overthinking {
  position: relative;
}

.thoughts-container {
  width: 100vw;
  height: 100vh;
}

.thoughts-container p {
  position: absolute;
  top: 1000px;
  left: 100px;
  z-index: 10;
  opacity: 0;
  font-size: 2em;
  /* animation: words-up 10s 2s ease-out infinite; */
}


.overthinking .walk {
  display: block;
  width: 20vw;
  position: absolute;
  bottom: 1em;
  left: 40%;
  z-index: 2;
}

.walk {
  animation: slide-lef 2s ease-in;
}

/* .container {
  overflow: hidden;
  width:100%;
  z-index:1;
} */


.pathway-container {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

.path-left {
  display: block;
  background: url("../images/pathway.svg") repeat-x;
  height: 100px;
  width: 4000px;
  opacity: 0;

}

.path-left.is-visible {
  opacity: 1;
  animation: slide-left 60s linear infinite;
}

.tree-left {
  display: block;
  background: url("../images/trees.svg") repeat-x;
  height: 500px;
  width: 4000px;
  opacity: 0;
  transition: all .5s;
}

.tree-left.is-visible {
  opacity: 1;
  animation: slide-left 60s linear infinite;
}


/* ----- INSOMNIA SECTION ----- */

.insomnia {
  position: relative;
}

.insomnia.is-visible {
  /* background-color: blue; */
  animation: changeColor 5s linear alternate infinite;
}

.insomnia figure {
  display: block;
  position: absolute;
  width: 50vw;
  left: 5%;
  top: 40%;
  transform: rotate(25deg);
}

.sun {
  position: absolute;
  transform-origin: 550% top;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 14px 14px rgba(221, 221, 221, 0.2);
  animation: rotate 10s linear infinite;
}

.insomnia side {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  text-align: right;
  margin: 0 auto;
  padding-right: 2em;
  transform: translateY(100%);

}
